<section class="container about-game">
  <h2 class="about-game-tittle">About This Game</h2>
  <p class="about-game-text">
    Star Force is an interstellar strategy game where tactical mastery,
    fleet-building, and real-time space combat collide. Developed by Fusion Glow
    Studios, this thrilling game immerses you in a vast sci-fi universe filled
    with galactic conquests and legendary commanders. Build your ultimate fleet,
    conquer the battlefield, and ascend to power as the supreme leader of the
    cosmos!
  </p>
</section>
<img class="container line-mb" src="../img/line_mb.png" alt="line" />
<img class="container line-dsk" src="../img/line_dsk.png" alt="line" />
