<section class="benefits container">
  <h2>Benefits</h2>
  <ul>
    <li>
      <img
        srcset="
          ../img/benefits/strategic_fleet_2x.png 2x,
          ../img/benefits/strategic_fleet.png    1x
        "
        src="../img/benefits/strategic_fleet.png"
        alt="strategic fleet"
        width="104"
        height="102"
      />
      <h3>Strategic Fleet Management</h3>
      <p>Construct, upgrade, and customize a powerful space fleet.</p>
    </li>
    <li>
      <img
        srcset="
          ../img/benefits/real_time_2x.png 2x,
          ../img/benefits/real_time.png    1x
        "
        src="../img/benefits/real_time.png"
        alt="real-time space battles"
        width="104"
        height="102"
      />
      <h3>Real-Time Space Battles</h3>
      <p>Engage in high-stakes, fast-paced tactical combat.</p>
    </li>
    <li>
      <img
        srcset="
          ../img/benefits/dynamic_2x.png 2x,
          ../img/benefits/dynamic.png    1x
        "
        src="../img/benefits/dynamic.png"
        alt="dynamic pvp warface"
        width="104"
        height="102"
      />
      <h3>Dynamic PvP Warfare</h3>
      <p>Battle players worldwide and dominate the leaderboards.</p>
    </li>
    <li>
      <img
        srcset="
          ../img/benefits/technologies_2x.png 2x,
          ../img/benefits/technologies.png
        "
        src="../img/benefits/technologies.png"
        alt="Legendary Commanders & Technologies"
        width="104"
        height="102"
      />
      <h3>Legendary Commanders & Technologies</h3>
      <p>Recruit elite officers and unlock advanced weaponry.</p>
    </li>
    <li>
      <img
        srcset="
          ../img/benefits/Immersive_2x.png 2x,
          ../img/benefits/immersive.png    1x
        "
        src="../img/benefits/immersive.png"
        alt="Immersive Sci-Fi Universe"
        width="104"
        height="102"
      />
      <h3>Immersive Sci-Fi Universe</h3>
      <p>Explore breathtaking cosmic landscapes and deep space mysteries.</p>
    </li>
    <li>
      <img
        srcset="
          ../img/benefits/frequent_content_2x.png 2x,
          ../img/benefits/frequent_content.png    1x
        "
        src="../img/benefits/frequent_content.png"
        alt="Frequent Content Updates"
        width="104"
        height="102"
      />
      <h3>Frequent Content Updates</h3>
      <p>Enjoy new ships, events, and seasonal challenges.</p>
    </li>
  </ul>
</section>
