<section class="benefits container" id="benefits">
  <div class="sun-wrapper">
    <h2 class="benefits-tittle">Benefits</h2>
    <img src="/img/sun/sunmob.png" alt="Decorative sun picture" class="border-mob sun-mob" />
    <img src="/img/sun/sundesk.png" alt="Decorative sun picture" class="border-desk sun-desk" />
    <img src="/img/sun/benefits_top.png" alt="decorative" class="benefits-top" width="284" height="284" />
    <img src="/img/sun/benefits_left_dt.png" alt="decorative" class="benefits_left_dt" width="452" height="452" />
  </div>
  <ul class="benefits-list">
    <li class="benefits-item">
      <img class="benefits-item-img" srcset="
          /img/benefits/strategic_fleet_2x.png 2x,
          /img/benefits/strategic_fleet.png    1x
        " src="/img/benefits/strategic_fleet.png" alt="strategic fleet" width="104" height="102" />
      <div class="benefits-item-wrap">
        <h3 class="benefits-item-tittle">Strategic Fleet Management</h3>
        <p class="benefits-item-text">
          Construct, upgrade, and customize a powerful space fleet.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <img class="benefits-item-img" srcset="
          /img/benefits/real_time_2x.png 2x,
          /img/benefits/real_time.png    1x
        " src="/img/benefits/real_time.png" alt="real-time space battles" width="104" height="102" />
      <div class="benefits-item-wrap">
        <h3 class="benefits-item-tittle">Real-Time Space Battles</h3>
        <p class="benefits-item-text">
          Engage in high-stakes, fast-paced tactical combat.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <img class="benefits-item-img" srcset="/img/benefits/dynamic_2x.png 2x, /img/benefits/dynamic.png 1x"
        src="/img/benefits/dynamic.png" alt="dynamic pvp warface" width="104" height="102" />
      <div class="benefits-item-wrap">
        <h3 class="benefits-item-tittle">Dynamic PvP Warfare</h3>
        <p class="benefits-item-text">
          Battle players worldwide and dominate the leaderboards.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <img class="benefits-item-img" srcset="
          /img/benefits/technologies_2x.png 2x,
          /img/benefits/technologies.png
        " src="/img/benefits/technologies.png" alt="Legendary Commanders & Technologies" width="104" height="102" />
      <div class="benefits-item-wrap">
        <h3 class="benefits-item-tittle">
          Legendary Commanders & Technologies
        </h3>
        <p class="benefits-item-text">
          Recruit elite officers and unlock advanced weaponry.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <img class="benefits-item-img" srcset="
          /img/benefits/Immersive_2x.png 2x,
          /img/benefits/immersive.png    1x
        " src="/img/benefits/immersive.png" alt="Immersive Sci-Fi Universe" width="104" height="102" />
      <div class="benefits-item-wrap">
        <h3 class="benefits-item-tittle">Immersive Sci-Fi Universe</h3>
        <p class="benefits-item-text">
          Explore breathtaking cosmic landscapes and deep space mysteries.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <img class="benefits-item-img" srcset="
          /img/benefits/frequent_content_2x.png 2x,
          /img/benefits/frequent_content.png    1x
        " src="/img/benefits/frequent_content.png" alt="Frequent Content Updates" width="104" height="102" />
      <div class="benefits-item-wrap">
        <h3 class="benefits-item-tittle">Frequent Content Updates</h3>
        <p class="benefits-item-text">
          Enjoy new ships, events, and seasonal challenges.
        </p>
      </div>
    </li>
  </ul>
  <img class="line-mb" src="/img/line_mb.png" alt="line" />
  <img class="line-dsk" src="/img/line_dsk.png" alt="line" />
</section>