<section class="cookies">
  <div class="overlay"></div>
  <div class="container cookies-popup">
    <div class="cookies-popup-wrapper">
      <div class="cookies-popup-text">
        <h2 class="cookies-popup-title">Our Cookies Policy</h2>
        <p class="cookies-popup-dscr">
          We use cookies to improve your experience on our website.
          By browsing this website, you agree to our use of cookies.
        </p>
      </div>
      <div class="cookies-popup-buttons">
        <button class="cookies-popup-btn accept" type="button">
          Accept cookies
        </button>
        <button class="cookies-popup-btn decline" type="button">
          Decline cookies
        </button>
      </div>
    </div>
  </div>
</section>