<div class="container footer-div">
  <div>
    <a href="./index.html">
      <img src="/img/footer/footerlogo.png" alt="Logo of the game">
    </a>
    <div>
      <a href="./privacy-policy.html">
        <p>Privacy Policy<span>|</span></p>
      </a><a href="./terms-and-conditions.html">
        <p>Terms & Conditions<span class="hidden">|</span></p>
      </a><a href="./cookies-policy.html">
        <p>Cookie Policy</p>
      </a>
    </div>
    <p>All Rights Reserved fusionglowstar.com<span class="footer-span">|</span>2025</p>
  </div>
</div>