<section class="container">
  <h2 class="gallery-heading">Gallery</h2>
  <div class="swiper gallery-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk1.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob1.png" alt="Game picture 1" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk2.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob2.png" alt="Game picture 2" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk3.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob3.png" alt="Game picture 3" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk4.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob4.png" alt="Game picture 4" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk5.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob5.png" alt="Game picture 5" class="gallery-img">
        </picture>
      </div>
      <!-- <div class="swiper-slide hidden">
        <picture>
          <source srcset="/img/gallery/gallerydesk1.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob1.png" alt="Game picture 1" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide hidden">
        <picture>
          <source srcset="/img/gallery/gallerydesk2.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob2.png" alt="Game picture 2" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide hidden">
        <picture>
          <source srcset="/img/gallery/gallerydesk3.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob3.png" alt="Game picture 3" class="gallery-img">
        </picture>
      </div> -->
    </div>

    <div class="gallery-nav">
      <div class="swiper-pagination swiper-pagination-bullets"></div>
      <div class="swiper-button-prev">
        <img src="/img/gallery/arrowleft.png" alt="Left arrow" />
      </div>
      <div class="swiper-button-next">
        <img src="/img/gallery/arrowright.png" alt="Right arrow" />
      </div>
    </div>

  </div>
</section>