<section class="container gallery-section">
  <div class="sun-wrapper">
    <h2 class="gallery-heading">Gallery</h2>
    <img src="/img/sun/sunmob.png" alt="Decorative sun picture" class="border-mob sun-mob" />
    <img src="/img/sun/sundesk.png" alt="Decorative sun picture" class="border-desk sun-desk" />
    <img src="/img/sun/honeyvisiblemob.png" alt="Decorative picture" class="border-mob honey-g-visible-mob">
    <img src="/img/sun/honeyvisibledesk.png" alt="Decorative picture" class="border-desk honey-g1-visible-desk">
    <img src="/img/sun/honeyvisibledesk.png" alt="Decorative picture" class="border-desk honey-g2-visible-desk">
  </div>
  <div class="swiper gallery-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk1.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob1.png" alt="Game picture 1" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk2.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob2.png" alt="Game picture 2" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk3.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob3.png" alt="Game picture 3" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk4.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob4.png" alt="Game picture 4" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk5.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerymob5.png" alt="Game picture 5" class="gallery-img">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk6.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerydesk6.png" alt="Game picture 6" class="gallery-img" width="130" height="282">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="/img/gallery/gallerydesk7.png" media="(min-width: 1200px)">
          <img src="/img/gallery/gallerydesk7.png" alt="Game picture 7" class="gallery-img" width="130" height="282">
        </picture>
      </div>
    </div>
    <div class="gallery-nav">
      <div class="swiper-pagination swiper-pagination-bullets"></div>
      <div class="swiper-button-prev">
        <img src="/img/gallery/arrowleft.png" alt="Left arrow" />
      </div>
      <div class="swiper-button-next">
        <img src="/img/gallery/arrowright.png" alt="Right arrow" />
      </div>
    </div>

  </div>
</section>