<section class="container header">
  <div class="header-wrap">
    <a href="">
      <img class="header-logo" srcset="/img/header/logo-2x.jpg 2x, /img/header/logo.jpg 1x" src="/img/header/logo.jpg"
        alt="logo" width="35" height="35" />
    </a>
    <svg class="header-icon dropdown-btn" width="35" height="35">
      <use xlink:href="/img/header/symbol-defs.svg#icon-menu"></use>
    </svg>
  </div>
  <div class="dropdown">
    <div class="dropdown-content">
      <div class="dropdown-content-wrap">
        <a href="#benefits" class="dropdown-item">Benefits</a>
        <a href="#feature-keys" class="dropdown-item">Feature Keys</a>
        <a href="#about-the-game" class="dropdown-item">About the Game</a>
        <a href="#how-to-play" class="dropdown-item">How to Play</a>
        <a href="#faq" class="dropdown-item">FAQ</a>
        <a href="#reviews" class="dropdown-item">Reviews</a>
        <a href="#gallery" class="dropdown-item">Gallery</a>
      </div>
    </div>
  </div>
</section>