<section class="hero container">
  <div class="hero-info">
    <h1 class="hero-title">Star Force</h1>
    <p class="hero-text">
      Step into an interstellar battlefield where strategy and firepower decide
      the fate of the galaxy. Star Force is an action-packed space strategy game
      that combines fleet-building, tactical combat, and epic PvP warfare.
      Assemble your ultimate armada, harness advanced technologies, and lead
      your forces to victory. Will you rise as the supreme commander of the
      galaxy?
    </p>
  </div>
  <img
    srcset="../img/hero/hero_img_2x.png 2x, ../img/hero/hero_img.png 1x"
    src="../img/hero/hero_img.png"
    alt="hero image"
    width="278"
    height="193"
    class="hero-img"
  />
  <button type="button" class="hero-btn">
    <img
      srcset="
        ../img/hero/google-play-icon-2x.png 2x,
        ../img/hero/google-play-icon.png    1x
      "
      src="../img/hero/google-play-icon.png"
      alt="google play logo"
      width="25"
      height="27"
      class="google-play"
    />
    <p class="hero-btn-text">Google Play</p>
  </button>
  <img class="line-mb" src="../img/line_pnk_mb.png" alt="line" />
  <img class="line-dsk" src="../img/line_pnk_dsk.png" alt="line" />
</section>
