<section class="container">
  <div><img src="/img/borders/linemob.png" alt="Decorative border image" class="border-mob"></div>
  <div><img src="/img/borders/linedesk.png" alt="Decorative border image" class="border-desk"></div>
  <div class="sun-wrapper">
    <h2 class="how-heading">How to Play</h2>
    <img src="/img/sun/sunmob.png" alt="Decorative sun picture" class="border-mob sun-mob" />
    <img src="/img/sun/sundesk.png" alt="Decorative sun picture" class="border-desk sun-desk" />
    <img src="/img/sun/honeyinvisiblemob.png" alt="Decorative picture" class="border-mob honey-invisible-mob">
    <img src="/img/sun/honeyinvisibledesk.png" alt="Decorative picture" class="border-desk honey-h-invisible-desk">
    <img src="/img/sun/honeyvisibledesk.png" alt="Decorative picture" class="border-desk honey-h-visible-desk">

  </div>
  <div class=" how-div">
    <img src="/img/HowToPlay/bigPic@2x.png" alt="Huge starship image" class="how-bigpic" />
    <ul class="how-ul">
      <div class="how-item-wrapper">
        <img src="/img/HowToPlay/listElipse.png" alt="Starship image" class="how-elipse">
        <div class="how-list-wrapper">
          <p class="how-list-p">Build Your Fleet</p>
          <li class="how-list-li">Collect, customize, and enhance your warships.</li>
        </div>
      </div>
      <div class="how-item-wrapper">
        <img src="/img/HowToPlay/listElipse.png" alt="Starship image" class="how-elipse">
        <div class="how-list-wrapper">
          <p class="how-list-p">Master Space Combat</p>
          <li class="how-list-li">Deploy advanced tactics to outmaneuver your enemies.</li>
        </div>
      </div>
      <div class="how-item-wrapper">
        <img src="/img/HowToPlay/listElipse.png" alt="Starship image" class="how-elipse">
        <div class="how-list-wrapper">
          <p class="how-list-p">Conquer the Galaxy</p>
          <li class="how-list-li">Expand your influence through strategic warfare and alliances.</li>
        </div>
      </div>
      <div class="how-item-wrapper">
        <img src="/img/HowToPlay/listElipse.png" alt="Starship image" class="how-elipse">
        <div class="how-list-wrapper">
          <p class="how-list-p">Join an Alliance</p>
          <li class="how-list-li">Team up with fellow commanders for cooperative missions and massive battles.</li>
        </div>
      </div>
      <div class="how-item-wrapper">
        <img src="/img/HowToPlay/listElipse.png" alt="Starship image" class="how-elipse">
        <div class="how-list-wrapper">
          <p class="how-list-p">Unlock Powerful Upgrades</p>
          <li class="how-list-li">Research cutting-edge technology to gain the upper hand.</li>
        </div>
      </div>
    </ul>
  </div>

  <div><img src="/img/borders/dotlinemob.png" alt="Decorative border image" class="border-mob"></div>
  <div><img src="/img/borders/dotlinedesk.png" alt="Decorative border image" class="border-desk"></div>

</section>