<section class="container">
  <h2 class="how-heading">How to Play
    <!-- <img src="../img/HowToPlay/splash.png" alt="Decorative image" class="how-splash"> -->

  </h2>
  <div class="how-div">
    <img src="../img/HowToPlay/bigPic@2x.png" alt="Huge starship image" class="how-bigpic" />
    <ul class="how-ul">
      <div class="how-item-wrapper">
        <img src="../img/HowToPlay/listElipse.png" alt="Starship image" class="how-elipse">
        <div class="how-list-wrapper">
          <p class="how-list-p">Build Your Fleet</p>
          <li class="how-list-li">Collect, customize, and enhance your warships.</li>
        </div>
      </div>
      <div class="how-item-wrapper">
        <img src="../img/HowToPlay/listElipse.png" alt="Starship image" class="how-elipse">
        <div class="how-list-wrapper">
          <p class="how-list-p">Master Space Combat</p>
          <li class="how-list-li">Deploy advanced tactics to outmaneuver your enemies.</li>
        </div>
      </div>
      <div class="how-item-wrapper">
        <img src="../img/HowToPlay/listElipse.png" alt="Starship image" class="how-elipse">
        <div class="how-list-wrapper">
          <p class="how-list-p">Conquer the Galaxy</p>
          <li class="how-list-li">Expand your influence through strategic warfare and alliances.</li>
        </div>
      </div>
      <div class="how-item-wrapper">
        <img src="../img/HowToPlay/listElipse.png" alt="Starship image" class="how-elipse">
        <div class="how-list-wrapper">
          <p class="how-list-p">Join an Alliance</p>
          <li class="how-list-li">Team up with fellow commanders for cooperative missions and massive battles.</li>
        </div>
      </div>
      <div class="how-item-wrapper">
        <img src="../img/HowToPlay/listElipse.png" alt="Starship image" class="how-elipse">
        <div class="how-list-wrapper">
          <p class="how-list-p">Unlock Powerful Upgrades</p>
          <li class="how-list-li">Research cutting-edge technology to gain the upper hand.</li>
        </div>
      </div>
    </ul>
  </div>
</section>