<section class="container reviews-section" id="reviews">
  <div>
    <img
      src="/img/borders/linemob.png"
      alt="Decorative border image"
      class="border-mob"
    />
  </div>
  <div>
    <img
      src="/img/borders/linedesk.png"
      alt="Decorative border image"
      class="border-desk"
    />
  </div>

  <div class="sun-wrapper">
    <h2>Reviews</h2>
    <img
      src="/img/sun/sunmob.png"
      alt="Decorative sun picture"
      class="border-mob sun-mob"
    />
    <img
      src="/img/sun/sundesk.png"
      alt="Decorative sun picture"
      class="border-desk sun-desk"
    />
    <img
      src="/img/sun/honeyvisiblemob.png"
      alt="Decorative picture"
      class="border-mob honey-visible-mob"
    />
    <img
      src="/img/sun/honeyvisibledesk.png"
      alt="Decorative picture"
      class="border-desk honey-r-visible-desk"
    />
  </div>

  <div class="reviews-button reviews-button-prev">
    <img src="/img/gallery/arrowleft.png" alt="Left arrow" />
  </div>

  <div class="reviews-button reviews-button-next">
    <img src="/img/gallery/arrowright.png" alt="Right arrow" />
  </div>
  <div class="swiper reviews-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide reviews-swiper-slide">
        <div class="reviews-swiper-content">
          <div class="reviews-content-div">
            <div class="reviews-text-div">
              <p class="reviews-name">James Carter</p>
              <p class="reviews-description">
                "A must-play for space strategy fans! The fleet mechanics and
                battles are top-notch."
              </p>
            </div>
            <picture>
              <source
                srcset="/img/reviews/reviewspicdesk1.png"
                media="(min-width: 1200px)"
              />
              <img
                src="/img/reviews/reviewspicmob1@2x.png"
                alt="Picture of reviewer"
                width="109"
                height="105"
                class="reviews-picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide reviews-swiper-slide">
        <div class="reviews-swiper-content">
          <div class="reviews-content-div">
            <div class="reviews-text-div">
              <p class="reviews-name">Olivia Reynolds</p>
              <p class="reviews-description">
                "The graphics and ship designs are incredible. Every battle
                feels cinematic!"
              </p>
            </div>
            <picture>
              <source
                srcset="/img/reviews/reviewspicdesk2.png"
                media="(min-width: 1200px)"
              />
              <img
                src="/img/reviews/reviewspicmob2@2x.png"
                alt="Picture of reviewer"
                width="109"
                height="105"
                class="reviews-picture"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="swiper-slide reviews-swiper-slide">
        <div class="reviews-swiper-content">
          <div class="reviews-content-div">
            <div class="reviews-text-div">
              <p class="reviews-name">Daniel Smith</p>
              <p class="reviews-description">
                "Tactical depth, amazing visuals, and an evolving meta make this
                game stand out."
              </p>
            </div>
            <picture>
              <source
                srcset="/img/reviews/reviewspicdesk3.png"
                media="(min-width: 1200px)"
              />
              <img
                src="/img/reviews/reviewspicmob3@2x.png"
                alt="Picture of reviewer"
                width="109"
                height="105"
                class="reviews-picture"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="swiper-slide reviews-swiper-slide">
        <div class="reviews-swiper-content">
          <div class="reviews-content-div">
            <div class="reviews-text-div">
              <p class="reviews-name">Emma Wilson</p>
              <p class="reviews-description">
                "Regular updates keep things fresh. The PvP battles are intense
                and competitive!"
              </p>
            </div>
            <picture>
              <source
                srcset="/img/reviews/reviewspicdesk4.png"
                media="(min-width: 1200px)"
              />
              <img
                src="/img/reviews/reviewspicmob4@2x.png"
                alt="Picture of reviewer"
                width="109"
                height="105"
                class="reviews-picture"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="swiper-slide reviews-swiper-slide">
        <div class="reviews-swiper-content">
          <div class="reviews-content-div">
            <div class="reviews-text-div">
              <p class="reviews-name">Liam Thompson</p>
              <p class="reviews-description">
                "Easy to learn, hard to master. Perfect balance of strategy and
                action."
              </p>
            </div>
            <picture>
              <source
                srcset="/img/reviews/reviewspicdesk5.png"
                media="(min-width: 1200px)"
              />
              <img
                src="/img/reviews/reviewspicmob5@2x.png"
                alt="Picture of reviewer"
                width="109"
                height="105"
                class="reviews-picture"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <div class="reviews-nav">
      <div class="swiper-pagination swiper-pagination-bullets"></div>
    </div>
  </div>

  <div>
    <img
      src="/img/borders/dotlinemob.png"
      alt="Decorative border image"
      class="border-mob"
    />
  </div>
  <div>
    <img
      src="/img/borders/dotlinedesk.png"
      alt="Decorative border image"
      class="border-desk"
    />
  </div>
</section>
