.about-game {
  background: url(../img/about-game/about_this_game_mobile.png);
  background-repeat: no-repeat;
  // padding: 32px 0;
}

.about-wrap {
  padding: 32px 0;
  // display: flex;
  // flex-direction: column;
  // gap: 16px;
}

.about-game-tittle {
  padding-bottom: 16px;
  // font-family: 'Lora', sans-serif;
  // font-weight: 700;
  // font-size: 32px;
  // color: #fff;
}
.about-game-text {
  // font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  // color: #fff;
}

@media screen and (min-width: 1200px) {
  .about-game {
    background: url(../img/about-game/about_this_game_desk.png);
    width: 1200px;
    height: 299px;
  }
  .about-wrap {
    padding: 48px 0;
  }
  .about-game-tittle {
    // font-size: 48px;
    // padding-top: 48px;
    padding-bottom: 32px;
  }
  .about-game-text {
    font-size: 16px;
    width: 645px;
  }
}
