.about-game {
  background: url(../img/about-game/about_this_game_mobile.png);
}
.about-game-tittle {
  // font-family: 'Lora', sans-serif;
  // font-weight: 700;
  // font-size: 32px;
  // color: #fff;
}
.about-game-text {
  // font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  // color: #fff;
}
