.benefits-tittle {
  padding-bottom: 32px;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.benefits-item {
  width: 280px;
  height: 102px;
}
.benefits-top {
  position: absolute;
  right: -40px;
  top: -60px;
  z-index: -2;
}

.benefits-item-wrap {
  position: relative;
  top: 22px;
  left: 55px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.benefits-item-img {
  position: absolute;
}
.benefits-item-tittle {
  font-weight: 700;
  font-size: 14px;
}
.benefits-item-text {
  font-weight: 400;
  font-size: 12px;
}
.benefits_left_dt {
  display: none;
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
  }
  .benefits-item {
    height: 167px;
    width: 455px;
  }
  .benefits-item-img {
    width: 170px;
    height: 167px;
  }
  .benefits-item-tittle {
    font-size: 16px;
  }
  .benefits-item-text {
    font-size: 14px;
  }
  .benefits-item-wrap {
    top: 54px;
    left: 72px;
  }
  .benefits-top {
    width: 435px;
    height: 500px;
  }
  .benefits_left_dt {
    display: block;
    position: absolute;
    top: 300px;
  }
}
