.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-color: var(--bg-main-bg);
  opacity: 0.6;
  z-index: 999;
}

.show-overlay {
  display: block;
}

.cookies-popup {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  border-radius: 20px 20px 0 0;
  background: #809abf;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: transform 0.8s ease;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    height: 350px;
  }
}

.cookies-popup.show-cookies-popup {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.8s ease;
}

.cookies-popup-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-block: 24px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 90px;
  }
}

.cookies-popup-text {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.cookies-popup-title {
  // font-family: var(--second-family);
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  color: #fff;
  @media screen and (min-width: 1200px) {
    text-align: left;
    font-size: 48px;
    line-height: 1.5;
  }
}

.cookies-popup-dscr {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  width: 280px;
  @media screen and (min-width: 1200px) {
    text-align: left;

    font-size: 24px;
    line-height: 1.33333;
    width: 672px;
  }
}

.cookies-popup-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  @media screen and (min-width: 1200px) {
    row-gap: 16px;
  }
}

.cookies-popup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
  background: #1f3861;
  border-radius: 10px;
  padding: 20px 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  // border: 1px solid var(--btns-slider);
  // font-family: var(--font-family);
  text-transform: uppercase;
  // transition: var(--animation);
  @media screen and (min-width: 1200px) {
    width: 312px;
    height: 72px;
    font-size: 24px;
    padding: 20px 50px;

    font-size: 24px;
    line-height: 1.33333;
  }
}

.cookies-popup-btn.decline {
  background: #40608c;
}
