.header {
  border-radius: 0 0 20px 20px;
  width: 320px;
  height: 60px;
  box-shadow: 0 2px 2px 0 #3e73cc;
  background: #1f4375;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 271px;
  padding-top: 9px;
  // margin: 0px 9px 9px 16px;
}

.header-logo {
  // width: 55px;
}

.header-icon {
  cursor: pointer;
  fill: transparent;
  stroke: #3e71ca;
}

// .modal-overlay {
//   background-color: #1f4375;
//   position: fixed;
// }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #1f4375;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 43px 193px 24px 20px;
}

.dropdown-item {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .header-icon {
    display: none;
  }

  .dropdown-content {
    display: flex;
    // position: absolute;
  }

  .dropdown-content-wrap {
    flex-direction: row;
    gap: 50px;
    padding: 0;
  }

  .dropdown-item {
    border-radius: 10px;
    padding: 10px 14px;
    width: 112px;
    height: 25px;
  }
}
