.header {
  position: relative; //======================?
  border-radius: 0 0 20px 20px;
  width: 320px;
  height: 60px;
  box-shadow: 0 2px 2px 0 #3e73cc;
  background: #1f4375;
  // overflow: hidden; //===============?
  z-index: 1000; // =================?
}

.header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 271px;
  padding-top: 9px;
  // margin: 0px 9px 9px 16px;
}

.header-logo {
  // width: 55px;
}

.header-icon {
  cursor: pointer;
  fill: transparent;
  stroke: #3e71ca;
}

// .modal-overlay {
//   background-color: #1f4375;
//   position: fixed;
// }

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  // position: relative;
  position: absolute; //==============?
  top: 0; //===================?
  left: 0; //===============?
  background-color: #1f4375;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  // padding-top: 60px; //===============?
}

.dropdown-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 43px 193px 24px 20px;
}

.dropdown-item {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1200px) {
  .header {
    position: relative;
    display: flex;
  }
  .header-icon {
    display: none;
  }
  .header-wrap {
    width: 75px;
  }

  .dropdown-content {
    display: flex;
    position: absolute;
    box-shadow: none;
  }

  .dropdown-content-wrap {
    flex-direction: row;
    gap: 50px;
    padding: 0;
  }

  .dropdown-item {
    align-self: center;
    border-radius: 10px;
    padding: 3px 14px;
    width: 112px;
    height: 25px;
    background-color: #1f4375;
    position: relative;
    z-index: 1;
    // border: 1px solid transparent;
    // border-image: linear-gradient(
    //   180deg,
    //   rgba(32, 60, 107, 1) 0%,
    //   rgba(63, 117, 209, 1) 100%
    // );
    // border-image-slice: 1;
    // box-sizing: border-box;
  }
  .dropdown-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(32, 60, 107, 1) 0%,
      rgba(63, 117, 209, 1) 100%
    );
    border-radius: 10px;
    padding: 2px; /* Товщина градієнтного бордера */
    -webkit-mask: linear-gradient(white 0 0) content-box,
      linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
}
