.privacy-policy h2 {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

li {
  line-break: strict;
}

.privacy-policy span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.privacy-policy h3 {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.privacy-policy div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-block: 32px;
}

.privacy-policy div p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.privacy-policy div ul {
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: -20px;
  margin-left: 30px;
}

.privacy-policy a {
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .privacy-policy h2 {
    font-size: 48px;
  }

  .privacy-policy h3 {
    font-size: 32px;
  }

  .privacy-policy div p {
    font-size: 24px;
  }
  .privacy-policy div ul li {
    font-size: 24px;
  }

  .privacy-policy div ul {
    font-size: 24px;
    margin-top: -15px;
  }

  .privacy-policy span {
    font-size: 24px;
  }
}
