@import './header.scss';
@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
@import './feature-keys.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './faq.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.scss';
@import './add-page.scss';
@import './back-to-home-btn.scss';
@import './privacy-policy.scss';

:root {
  --text-wite: #fff;
  --background: #1f3861;
  --header: #1f4375;
  --font-family: 'Open Sans', sans-serif;
  --second-family: 'Lora', sans-serif;
}

body {
  font-family: 'Open-sans', sans-serif;
  background-color: #1f3861;
  color: #fff;
}

h2 {
  position: relative;
  z-index: 2;
  font: 700 32px 'Lora', sans-serif;
  color: #fff;
  @media screen and (min-width: 1200px) {
    font: 700 48px 'Lora', sans-serif;
  }
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 40px;
  }
}

.hidden {
  visibility: hidden;
  @media screen and (min-width: 1200px) {
    visibility: visible;
  }
}

.sun-wrapper {
  position: relative;
}

.sun-mob {
  position: absolute;
  left: -55px;
  top: -70px;
}

.sun-desk {
  position: absolute;
  left: -88px;
  top: -156.5px;
}

.honey-invisible-mob {
  position: absolute;
  right: -65px;
  top: -105px;
}

.honey-visible-mob {
  rotate: -5deg;
  position: absolute;
  right: -105px;
  top: -140px;
}

.border-mob {
  display: block;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.border-mob,
.border-desk {
  margin-block: 32px;
  @media screen and (min-width: 1200px) {
    margin-block: 96px;
  }
}

.border-desk {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.line-mb {
  padding-top: 32px;
  padding-bottom: 32px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.line-dsk {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
