@import './header.scss';
@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
@import './feature-keys.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './faq.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.scss';
@import './add-page.scss';
@import './back-to-home-btn.scss';

:root {
  --text-wite: #fff;
  --background: #1f3861;
  --header: #1f4375;
  --font-family: 'Open Sans', sans-serif;
  --second-family: 'Lora', sans-serif;
}

body {
  font-family: 'Open-sans', sans-serif;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 40px;
  }
}
